<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dokudog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="title-with-mascot">
                <h1>Dokudog</h1>
                <img src="{% static 'images/DokuDogShiba.png' %}" alt="Dokudog Mascot" class="mascot-image">
            </div>
            <nav>
                <a href="/">Home</a>
                {% if user.is_authenticated %}
                    <a href="/user-info/">{{ user.username|capfirst }}'s Account</a>
                    <form method="post" action="{% url 'logout' %}" class="logout-form">
                        {% csrf_token %}
                        <button type="submit" class="nav-button">Logout</button>
                    </form>
                {% else %}
                    <a href="/login/" class="nav-button">Login</a>
                {% endif %}
                <a href="/recommendation/">Get Recommendation</a>
            </nav>
            <div class="search-bar-container">
                <form action="{% url 'search_results' %}" method="get">
                    <input type="text" name="q" placeholder="Search books..." aria-label="Search">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </header>
    
    <main>
        <div class="centered-container">
        {% block content %}
        <!-- Content from child templates will be injected here -->
        {% endblock %}
        </div>
    </main>
    <!-- <footer> -->
    <!--   <p>© 2024 Dokudog. All rights reserved.</p> -->
    <!-- </footer> -->
</body>
<script src="{% static 'js/modal.js' %}"></script>
</html>
